.header-mobile {
	@mixin atMedium {
		display: none;
	}
}

.mobile-nav {
	background: $leightonRed;

	a {
		color: $leightonLightText;	
	}
	
	ul	{
		margin: 0
	}

	li { 
		list-style-type: none;	
		padding: 1rem 0;
		margin: 0;
		color: $leightonLightText;	
	}

	&__country {
	    width: 100%;
	    text-align: center;
	    padding: 1rem 0;
	}

	.open:after {
		content: " - ";
		font-size: 2rem;
		margin: 0 1rem;
	}

	.closed:after {
		content: " + ";
		font-size: 2rem;
		margin: 0 1rem;
	}

	&__button {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	}
}

.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

		&--menu, &--basket {
    		font-size: 1rem;
    		padding: 1.75rem 0.5rem;
			color: $leightonGrey;
		}

		&--logo {
			margin: 0 auto;
			padding: 1rem;
		}
}

.nav-button {
	padding: 1rem;
}

.header-desktop {
	display: none;

	@mixin atMedium {
		display: block;
	}

	&--upper {
		width: 100%;
		background: $leightonGrey;
		text-align: center;
		font-weight: 100;
		font-size: 0.875rem;
		padding: 0.8rem 0;

		ul {
			margin: 0;
		}

		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.5rem;
		}

		a:first-child {
			margin-left:-2.5rem;
		}

		a:first-child:before {
			content: "";
		}

		a:before {
			content: " . ";
			padding: 0 0.5rem;
		}

		a {
			color: $leightonLightText;
		}

		a:hover {
			color: $leightonRed;
		}
	}

	&--mid {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    max-width: 1200px;
	    margin: 2rem auto 2rem auto;

	    &__basket, &__country {
	    	margin: 1.5rem;
	    	color: $leightonGrey;
	    	font-weight: 100;
	    	border: 1px solid $leightonLightGrey;
    		padding: 0.75rem;
	    }

	    &__basket {
		    text-align: center;
		    
		    @mixin atMedium {
				width: 3rem;
				float: right;
		    }

		    @mixin atLarge {
		    	width: 9rem;
		    }

		    &__text {
		    	@mixin atMedium {
		    		display: none;
		    	}

			    @mixin	atLarge {
		    		display:inline;
		    		width: 9rem;
		    	}
		    }
		}

		&__country {
    		width: 3rem;
    		text-align: center;
		}

	    &__container {
		    width: 200px;
	    }
	}


	&--lower .container {
		display: flex;
		justify-content: space-around;
		border-top: 1px solid $leightonLightGrey;
		border-bottom: 1px solid $leightonLightGrey;
		width: 100%;
		text-align: center;
		padding: 0.875rem 0;
		margin: 0 auto;

		& ul li {
			list-style-type: none;
			padding:0 1rem;
			position: relative;
			float: left;

		}

		& ul ul {
			display:none;
			position:absolute;
			left: -5%;
			background: $leightonRed;
			text-align: left;
			margin: 0;	
			padding: 1rem;
			line-height: 2rem;
			width: 200px;
			color:$leightonLightText;
		}

		& ul ul li {
			float:none;
		}

		& ul li:hover > ul {
			display: block;
		}

		a {			
			color: $leightonLightGrey;
		}

		a:hover {
			color: $leightonRed;
		}
	}
}