.header-nav {	
	background: $leightonGrey;
	width: 100%;
	text-align: center;
	
	@mixin atSmall {
		background: #fff;
	}

	ul {
		margin: 0;
	}

	li {
		list-style-type: none;
		padding: 0 1rem 0 0.5rem;
		line-height: 2.5rem;
		text-transform: lowercase;
		font-weight: 100;	

		@mixin atSmall{
			display: block;
		}	

		@mixin atMediumUp {
			display: inline-block;
		}

			&:after {
				color: $leightonLightText;

				@mixin atMediumUp {
					content:' . ';
					padding-left: 1rem;
				}
			}

			&:last-child:after {
				@mixin atMediumUp {
					content:'';
				}
			}
	}

	a {
		text-decoration:none;

		@mixin atSmall {
			color: $leightonDarkText;
		}

		@mixin atMediumUp{
			color: $leightonLightText;
		}

	}

	&--menu-block {
		@mixin atSmall {
			display: none;
		}
	}

	&--menu-icon {
		@mixin atMediumUp {
			display: none;
		}

		@mixin atSmall {
			text-align: right;
    		padding: 1rem;
		}
	}

}