.product-container {
	max-width: 1200px;
	margin: 0 auto;
}

.product {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

		@mixin atMedium{
			border: 1px solid $leightonLightGrey;	
		}
	

		@mixin atSmall {
			margin: 1rem 0;
		}

	&--image {
		width: 100%;

		& img {
			display: block;
		}


		@mixin atMedium {
			width: 40%;
		}
	}

	&--information {
		width: 100%;
		display: block;
		text-align: center;

		@mixin atMedium {
			width: 60%;
			text-align: left;
		}
	}


	&--header {
		width: 100%;
	}
} 

.products {
	.product--header{
		display: none;
	}
}

.featured {
	.product--header {
		background: $leightonGrey;
		color: $leightonLightText;
		padding: 0.5rem 1rem;
	}
}