.product-container {
	max-width: 1440px;
	margin: 0 auto;
}

.product {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid $leightonLightGrey;

		@mixin atSmall {
			margin: 1rem;
		}

	&--image {
		width: 33%;
	}

	&--information {
		width: 66%;
	}

	&--header {
		width: 100%;
	}
} 

.products {
	.product--header{
		display: none;
	}
}

.featured {
	.product--header {
		background: $leightonGrey;
		color: $leightonLightText;
		padding: 0.5rem 1rem;
	}
}